/*
9. Multiple Columns in Text
Scenario: The community bulletin needs to be displayed like a newspaper.
Objective: Use CSS3 multi-column layout.
Task:
• Create a news article section and apply:
column-count: 2;
column-gap: 30px;
column-rule: 1px solid gray;
*/

.news-article {
    column-count: 2;
    column-gap: 30px;
    column-rule: 1px solid gray;

    padding: 20px;
    margin: 20px;
    text-align: justify;
    line-height: 1.6;
}